* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* header styles */
header {
    background: url('images/banner/banner1.png'), lightgray -0.889px 0px / 100.111% 111.51% no-repeat;
    height: 808px;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content {
    width: 30%;
    margin-right: 115px;
    text-align: right;
}

.banner-title {
    color: var(--Dark-01, #151414);
    font-size: 65px;
    font-weight: 900;
}

.banner-description {
    color: var(--Dark-02, #444343);
    font-size: 14px;
    font-weight: 400;
    text-align: right;
}

.btn-primary {
    width: 160px;
    height: 64px;
    border-radius: 5px;
    background: #F15B22;
    float: right;
    margin-top: 30px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border: none;
}

/* main styles */

.failure {
    margin-top: 230px;
    display: flex;
    align-items: center;
}

.failure-img {
    width: 451px;
    height: 898px;
    margin-left: 115px;
}

.failure-content {
    width: 70%;
    margin-left: 200px;
    margin-right: 115px;
}

.failure-title,
.my-plan h1 {
    color: var(--Dark-01, #151414);
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}

.failure-description {
    color: var(--Dark-02, #444343);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
}

.failure-content ul li {
    list-style: none;
    color: var(--Dark-02, #444343);
    font-size: 16px;
    font-weight: 400;
}

.failure-content ul li {
    list-style: none;
    color: var(--Dark-02, #444343);
    font-size: 16px;
    font-weight: 400;
}

.failure-content ul img {
    width: 5%;
}

.failure-content ul li i {
    color: #16D887;
    font-size: 16px;
    margin-right: 5px;
}

.my-plan {
    text-align: center;
}

.my-plan h1 {
    margin: 50px 0px;
}

.plan-content {
    display: flex;
    justify-content: space-evenly;
}

.plan {
    margin: 0px 10px;
}

.plan-title {
    color: var(--Dark-01, #151414);
    font-size: 25px;
    font-weight: 700;
}

.plan-description {
    color: var(--Dark-03, #737272);
    font-size: 20px;
    font-weight: 500;
}

.main-img {
    display: flex;
    justify-content: center;
}

.main-img-content {
    margin-top: 150px;
    background-image: linear-gradient(to right, #F15B22 0%, rgba(241, 91, 34, 0.00) 100%), url('images/watch.png');
    width: 80%;
    height: 200px;
    display: flex;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
}

.main-img-title {
    margin-left: 64px;
    color: #FFF;
    font-size: 30px;
    font-weight: 900;
}

.btn-secondary {
    margin-left: 64px;
    margin-top: 24px;
    width: 160px;
    height: 64px;
    border-radius: 5px;
    background: #FFF;
    border: none;
    color: #F15B22;
    font-size: 15px;
    font-weight: 600;
}

/* footer styles */

.footer-content {
    margin-top: 230px;
    height: 100%;
    background: var(--Dark-01, #151414);
    display: flex;
    justify-content: center;
    align-items: center;
}

.future-section {
    margin-left: 150px;
    margin-bottom: 100px;
}

.futuer-section-title {
    color: #F8F8F8;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 16px;
    margin-top: 100px;
}

.future-section-content {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    width: 50%;
    margin-bottom: 24px;
}

.future-section-email,
.future-section-phone {
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
}

.future-section-icons {
    display: flex;
    gap: 15px;
    margin-top: 32px;
}
.subscribe-section{
    margin-right: 150px;
    margin-bottom: 100px;
}
.subscribe-section-title {
    color: #FFF;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 24px;

}
input {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    background: var(--Dark-01, #151414);
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    width: 90%;
}
.footer-btn-secondary{
    margin-top: 24px;
    width: 130px;
    height: 50px;
    border-radius: 5px;
    background: #FFF;
    border: none;
    color: #F15B22;
    font-size: 15px;
    font-weight: 600;
}